<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  </head>
  <body>
    <div class="balloonContainer"></div>
    <h2 id="welcome-message"></h2>
    <img class="mainImage" id="mainImage" alt="Cartoon Elephant in Forest" />
    <input type="submit" value="Започни" id="start-button" />
    <input type="submit" value="Нова Игра" id="new-game-button" disabled />
    <div id="transcription"></div>
    <script src="app.js"></script>
    <script src="balloons.js"></script>
  </body>
</html>
